<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Lecture Helper</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class=page>
  <h1>Lecture Helper</h1>
  {% for message in get_flashed_messages() %}
    <div id="flash" class="alert alert-danger" role="alert">{{ message }}</div>
   <!--  <div class=flash>{{ message }}</div> -->
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>
</html>
