{% extends "layout.html" %}
{% block body %}
<!--   <h2>Sign Up</h2>
  <form action="{{ url_for('add_user') }}" method=post class=add-person>
    <dl>
      <dt>Email:
      <dd><input type="text" name="email" size="60"></textarea>
      <dt>Username:
      <dd><input type="text" name="username" size="60" style="height: 60px;"></textarea>
	    <dt>Password:
      <dd><input type="password" name="password" size="60">
      <dt>Professor or Student?
        <input type="radio" name="type" value="Student" checked>Student
        <input type="radio" name="type" value="Professor">Professor<br>
      <dd><input type=submit value="Sign Up">
    </dl>
  </form>
  <br> -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <h3>Sign Up</h3>
      <form class="navbar-form navbar-left" action="{{ url_for('add_user') }}" id="add-user" method=post >
        <div class="form-group">
          <h5 style="font-weight: bold;">Email:</h5>
          <input type="text" class="form-control" name="email" size = "60%">
        </div>
        <div class="form-group">
          <h5 style="font-weight: bold;">Username:</h5>
          <input type="text" class="form-control" name="username" size = "60%">
        </div>
        <br>
        <div class="form-group">
          <h5 style="font-weight: bold;">Password:</h5>
          <input type="password" class="form-control" name="password" size = "60%">
        </div>
        <div class="form-group">
          <h5 style="font-weight: bold;">Professor or Student?</h5>
          <input type="radio" name="type" value="Student" checked>Student
          <input type="radio" name="type" value="Professor">Professor<br>
        </div>
        <br><br>
        <button type="submit" class="btn btn-default">Sign Up</button>
      </form>
  </div>
</nav>
{% endblock %}

