{% extends "layout.html" %}
{% block body %}
    <h3>Add Person:</h3>
    <form action="{{ url_for('add_temp') }}" method=post class=add-question>
      <dl>
      	<dt>Username:
      	<dd><textarea name="username" rows=5 cols=40></textarea>
        <dt>Password:
        <dd><textarea name="password" rows=5 cols=40></textarea>
      	<dt>Type (professor or student):
      	<dd><textarea name="student_prof" rows=5 cols=40></textarea>
        <dd><input type=submit value="Add Person">
      </dl>
    </form>
    <br>
{% endblock %}
