{% extends "user.html" %}
{% block body %}
<!DOCTYPE HTML>
<html>
<h3> {{exist_questions}}</h3>
<head>  
  <script type="text/javascript">

  window.onload = function () {
  	var questions_yellow = {{questions_y|tojson}};
  	var questions_orange = {{questions_o|tojson}};
  	var questions_red = {{questions_r|tojson}}
  	var class_name = {{class_name|tojson}}
  	var date = {{date|tojson}}
    var tags1 = {{tags1|tojson}}
    var tags2 = {{tags2|tojson}}
    var tags3 = {{tags3|tojson}}
    var tags4 = {{tags4|tojson}}
    var tags5 = {{tags5|tojson}}
  
    var chart = new CanvasJS.Chart("chartContainer1",
    {
      zoomEnabled: true,
      title:{
      },
      axisX: {
        title:"",
        valueFormatString: "#.#",
        maximum: 75,
        minimum: -3,
        gridThickness: 2,
        labelFontColor: 'transparent',
  tickThickness: 1,
        gridColor: "transparent",
        tickColor: "transparent",
        lineThickness: 1
      },
      axisY:{
        title: "",              
        gridThickness: 2,
        labelFontColor: 'transparent',
  tickThickness: 1,
        gridColor: "transparent",
        tickColor: "transparent",
        lineThickness: 0,
        valueFormatString:"#",
        maximum: 10,
        minimum: -5,
        interval: 1
        
      },

      data: [
      {        
        type: "bubble",
        toolTipContent: "<span style='\"'color: {'indigo'};'\"'><strong>{label}</strong></span>",
        color: 'orange',
        fillOpacity: .7,

        dataPoints: questions_orange
      }, 
      {
      type: "bubble", 
        toolTipContent: "<span style='\"'color: {'black'};'\"'><strong>{label}</strong></span>",
        color: 'red',
        fillOpacity: .7,

        dataPoints: questions_red
      },
      {type: "bubble",
      color: 'yellow',
      fillOpacity: .7,

      toolTipContent: "<span style='\"'color: {'black'};'\"'><strong>{label}</strong></span>",
      dataPoints: questions_yellow

    }
       

      ]
    });


    var chart2 = new CanvasJS.Chart("chartContainer2",
    {
      zoomEnabled: true,
      title:{
        text: "Lecture Timeline for the "+ class_name + " (" + date + ")"
      },
       toolTip:{
   enabled: false,
 },
      axisX: {
        title:"",
        valueFormatString: "#.#",
        maximum: 75,
        minimum: -3,
        gridThickness: 2,
        labelFontColor: 'transparent',
  tickThickness: 0,
        gridColor: "transparent",
        tickColor: "transparent",
        lineThickness: 0
      },
      axisY:{
        title: "",              
        gridThickness: 2,
        labelFontColor: 'transparent',
  tickThickness: 1,
        gridColor: "transparent",
        tickColor: "transparent",
        lineThickness: 0,
        valueFormatString:"#",
        maximum: 100,
        minimum: -5,
        interval: 1
        
      },

      data: [
     
       {        
        type: "scatter",
        fillOpacity: .1,
        color: 'white',
        toolTipContent:"<span style='\"'color: {'black'};'\"'><strong>{label}</strong></span>", 
        dataPoints: tags1
      },
             {        
        type: "scatter",
        fillOpacity: .1,
        color: 'white',
        toolTipContent:"<span style='\"'color: {'black'};'\"'><strong>{label}</strong></span>", 
        dataPoints: tags2
      },

       {        
        type: "scatter",
        fillOpacity: .1,
        color: 'white',
        toolTipContent:"<span style='\"'color: {'black'};'\"'><strong>{label}</strong></span>", 
        dataPoints: tags3
      },

       {        
        type: "scatter",
        fillOpacity: .1,
        color: 'white',
        toolTipContent:"<span style='\"'color: {'black'};'\"'><strong>{label}</strong></span>", 
        dataPoints: tags4
      },

       {        
        type: "scatter",
        fillOpacity: .1,
        color: 'white',
        toolTipContent: "<span style='\"'color: {'black'};'\"'><strong>{label}</strong></span>", 
        dataPoints: tags5
      }

      ]
    });
    chart2.render();
    chart.render();
   
  }
</script>
<script type="text/javascript" src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
  <div id="chartContainer2" style="height: 260px; width: 100%;"></div>
  <div id="chartContainer1" style="height: 130px; width: 100%;"> 
  </div>
</body>

</html>
{% endblock %}