{% extends "layout.html" %}
{% block body %}
  <!-- <a href="{{url_for('student')}}">Go Back</a> -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <h3>{{class_name}}</h3>
        <form class="navbar-form navbar-left" action="{{ url_for('add_question') }}" id="add-question" method=post>
          <div class="form-group">
            <h5 style="font-weight: bold;">Question:</h5>
            <input type="text" class="form-control" name="question" size = "60%">
            <input type=hidden name="class_name" value="{{class_name}}">
          </div>
          <br>
          <div class="form-group">
            <h5 style="font-weight: bold;">Tags:</h5>
            <input type="text" class="form-control" name="tag" size = "60%">
            <br>(add a "#" before each tag)
          </div>
          <br>
          <div class="form-group">
             <h5 style="font-weight: bold;">Confusion:</h5>
            <div style="float:left; padding-right:15px;">Low</div><input type="range" class="slider slider-horizontal" name="confusion" id="confusion" value="1" min="1" max="3" step="1" data-show-value="true" style="float:left;"> <div style="float:left; padding-left:15px;">  High</div>
          </div>
          <br><br>
          <button type="submit" class="btn btn-primary">Ask</button>
        </form>
    </div>
  </nav>
  <hr>
  <br>
  <h2>Questions</h2>
  <div id="questions" class=entries>
  {% for question in questions %}
    <h3>{{ question.text }}</h3>{{ question.date }}, {{ question.time }}<br>
    Confusion: {{question.confusion}} | Tags: 
    {% for tag in question.tags %}
    {{tag}}
    {% endfor %}
    <br>
  {% else %}
    <em>You haven't asked any questions</em>
  {% endfor %}
  </div>
  <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="/static/js/reconnecting-websocket.min.js"></script>
  <script>
    // Support TLS-specific URLs, when appropriate.
    if (window.location.protocol == "https:") {
      var ws_scheme = "wss://";
    } else {
      var ws_scheme = "ws://"
    };
    var outbox = new ReconnectingWebSocket(ws_scheme + location.host + "/submit");

    outbox.onclose = function(){
        console.log('outbox closed');
        this.outbox = new WebSocket(outbox.url);
    };
    /*AJAX for subscribing to a class*/
    $(document).on('submit', "form#add-question", function(){
      var datastring = $(this).serialize();
      $.ajax({ 
          url: "{{ url_for('add_question') }}",
          type: 'POST',
          data: datastring,
          context: this,
          success: function(data2){
            var jobject = JSON.parse(data2);
            var flash = jobject.flash;
            $("div#flash").html(flash);
            $("div#flash").show().delay(5000).fadeOut();
            if(jobject.status == "OK"){
              $("div#questions").prepend("<h3>" + jobject.text + "</h3>" + jobject.date + ", " + jobject.time + "<br>Confusion: " + jobject.confusion + " | Tags: " + jobject.tag + "<br>");

              outbox.send(JSON.stringify({ question: jobject.text, confusion: jobject.confusion, tag: jobject.tag, datetime: jobject.date + " @ " + jobject.time, class_name: "{{class_name}}"}));
            }
          },
          error: function(err){
            console.log("An error occured");
          }
      });
      this.reset()
      return false;
    });
  </script>
{% endblock %}