{% extends "layout.html" %}
{% block body %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
  <h2>Classes</h2>
  <div id="classes" class=entries>
  {% for class in classes %}
    <dl id="registered-class">
      <dt>
        <a class=classname id="classname" href="{{url_for('student_class', username=current_user.username, class_name1=class.class_name)}}">{{class.class_name}}
        </a> <button class="btn btn-danger" id="unsubscribe" style="padding-bottom:3px;padding-top:3px;">Unsubscribe</button> 
      </dt>
    </dl>
  {% else %}
    <em>No classes</em>
  {% endfor %}
  </div>
  </div>
  </nav>
  <hr>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <h3>Subscribe to an Existing Class</h3>
        <form class="navbar-form navbar-left" action="{{ url_for('subscribe') }}" id="subscribe-class" method=post>
          <div class="form-group">
            <h5 style="font-weight: bold;">Class Name:</h5>
            <input type="text" class="form-control" name="class_name" size = "60%">
          </div>
          <br>
          <div class="form-group">
            <h5 style="font-weight: bold;">Class Key:</h5>
            <input type="text" class="form-control" name="class_key" size = "60%">
          </div>
          <br><br>
          <button type="submit" class="btn btn-default">Subscribe</button>
        </form>
    </div>
  </nav>

  <script>
    /*AJAX for subscribing to a class*/
    $(document).on('submit', "form#subscribe-class", function(){
      var datastring = $(this).serialize();
      $.ajax({ 
          url: "{{ url_for('subscribe') }}",
          type: 'POST',
          data: datastring,
          context: this,
          success: function(data2){
            var blah = JSON.parse(data2);
            var flash = blah.flash;
            $("div#flash").html(flash);
            $("div#flash").show().delay(5000).fadeOut();
            if(blah.status == "OK"){
              var url = "/student_class/"+ blah.username + "/" + blah.class_name;
              $("div#classes").append("<dl id='registered-class'><dt><a class=classname id='classname' href='" + url + "'>" + blah.class_name + "</a> <button class='btn btn-danger' id='unsubscribe' style='padding-bottom:3px;padding-top:3px;'>Unsubscribe</button></dt></dl>");
            }
          },
          error: function(err){
            console.log("An error occured");
          }
      });
      this.reset()
      return false;
    });


    /*AJAX for unsubscribing from a class*/
    $(document).on('click', "#unsubscribe", function(){
      var classname = $(this).prevAll("a#classname:first").text();
      datastring = "class_name=" + classname;
      $.ajax({ 
          url: "{{ url_for('unsubscribe') }}",
          type: 'POST',
          data: datastring,
          context: this,
          success: function(data2){
            var jobject = JSON.parse(data2);
            var flash = jobject.flash;
            var toRemove = $(this).parent().parent();
            toRemove.remove();
            $("div#flash").html(flash);
            $("div#flash").show().delay(5000).fadeOut();
          },
          error: function(err){
            console.log("An error occured");
          }
      });
      this.reset()
      return false;
    });
  </script>
{% endblock %}